extends layout

block content
  h1= title

  form(method='POST')
    div.form-group
      label(for='name') Name:
      input#title.form-control(type='text', placeholder='Name of item' name='name' required value=(undefined===item ? '' : item.name) )
    div.form-group
      label Category:
      div
        for category in categories
          div(style='display: inline; padding-right:10px;')
            if category.checked
              input.checkbox-input(type='checkbox', name='category', id=category._id, value=category._id, checked)
            else
              input.checkbox-input(type='checkbox', name='category', id=category._id, value=category._id)
            label(for=category._id) &nbsp;#{category.name}
    div.form-group
      label(for='description') Description:
      textarea#description.form-control(placeholder='Description' name='description' required)= undefined===item ? '' : item.description
    div.form-group
      label(for='price') Price($):
      input#price.form-control(type='number', placeholder='3.50' step='0.01' name='price' value=(undefined===item ? '' : item.price) required)
    div.form-group
      label(for='stock') In stock(qty):
      input#stock.form-control(type='number', placeholder='420' name='stock' value=(undefined===item ? '' : item.stock) required)
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul  
      for error in errors
        li!= error.msg


