
extends layout

block content
  h1 Name: #{item.name}
  p #[strong Description: ] #{item.description}
  p #[strong Price: ]$#{item.price}
  p #[strong In stock: ]#{item.stock}
  - let i = 0;

  p #[strong Category: ]
    each val in item.category
      if i > 0
        a  | 
      else 
        - i = 1;
      a(href=val.url) #{val.name}
  hr
  p Do you really want to delete this Item?

  form(method='POST')
    div.form-group
     input#itemid.form-control(type='hidden', name='itemid', value=item._id )

     button.btn.btn-primary(type='submit') Delete